:root {
    --grey: #e8e7e7;
    --light-grey: #f6f5f5;
    --primary-color:#dc3c39;
    --secondary-color: hsla(1, 70%, 54%, 0.25);
  }
*,*:after,*:before {
	box-sizing: border-box;
}
body{
    background-color: white;
    width:100%;
    height:100vh;
    margin:0;
    color: black;
    font-family: 'Barlow', sans-serif;
}
h1{
    text-align: center;
}
form{
    max-width: 150px;
    text-align: center;
    padding: 2rem 0;
}
label{
    margin:0.5rem 0;
    font-weight: 500;
}

input,select{
    width:100%;
    margin: 0.5rem auto;
    background-color: var(--grey);
    color: black;
}
input[type="text"],input[type="password"]{
    cursor:text;
    min-height:2em;
    background-color: var(--grey);
    border:none;
    width: calc(100% - 4px);
}
input[type="text"]:focus,input[type="password"]:focus{
    outline:solid 2px var(--primary-color);
}
input[type="text"]:hover,input[type="password"]:hover{
    background-color:var(--secondary-color);
}
button{
    width:100%;
    border:none;
    cursor:pointer;
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 0.5rem;
    border-radius: 7px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    position:relative;
    margin: 0.5rem auto;
    transition: all 0.2s linear 0s;
}
button:hover{
    text-indent: 30px;
}
button::before{
    content: "\f054";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: calc(100% + 1px); /*1px added to remove glitching bottom line*/
    width: 30px;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
    z-index: 5;
    background-color:white;
    color:var(--primary-color);
}
button:hover:before{
    transform: scale(1,1);
    text-indent: 0;
}
.go_back{
    max-width: 100px;
}
.go_back:before{
   content:"\f053";
}
.filter:before{
    content:"\f0b0";
 }
.login-wrapper{
    position: relative;
    margin:auto;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    border-radius: 7px;
    box-shadow: 2px 2px 5px hsl(0, 1%, 71%);
}
.wrapper_main{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.wrapper{
    align-items: center;
    display: flex;
    position: relative;
    width: 75%;
    max-width: 600px;
}
.wrapper::before{
    position: absolute;
    content:"";
    background-color: var(--grey);
    border-radius: 7px;
    width: calc(100% + 5rem);
    height: calc(100% + 5rem);
    z-index: -1;
    left:-2.5rem;
    top:-2.5rem;
    box-shadow: 2px 2px 5px hsl(0, 1%, 71%);
}
.desc_wrapper{
    padding: 0.5rem 2rem;
    width: 50%;
    text-align: center;
}
.social a{
    margin:0.5rem;
    font-size: 2.5rem;
    color:#1e3050;
    text-decoration: none;
}
.search{
    padding-top:0;
}
.search label{
    display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	margin-bottom: 0.375em;
}
.search input[type="radio"],.search input[type="checkbox"]{
    display: inline;
    width: unset;
    position: absolute;
    left: -9999px;
}

.search input:checked ~ ::before{
    box-shadow: inset 0 0 0 0.4375em var(--primary-color);
}

.search input:checked :checked ~ span{
    background-color: var(--secondary-color);
}
.radio_span{
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}
.radio_span:hover{
   background-color: var(--secondary-color);
}
.radio_span:before{
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em var(--primary-color);
}
.loader{
    position: absolute;
}
.loader_vis{
    animation: spinner 0.5s infinite;
    animation-delay: 0.1s, 0.5s;
    animation-fill-mode: forwards;
    z-index:10;
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
    border: 5px solid var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    color: var(--primary-color);
    outline: none;
    cursor: pointer;
    left:calc((100% - 14rem)/2);
}


@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.view_form{
    display: flex;
    max-width: 500px;
    padding: 0;
}
.view_form button{
    max-width: 100px;
}
.view{
    height: unset;
}
.view_wrapper{
    max-width: 1400px;
    width: 100%;
}
.table_wrapper{
    overflow-x:auto;
}
@media screen and (max-width: 650px) {
    .wrapper{
        width: 100%;
        flex-direction: column;
    }
    .desc_wrapper{
        padding:0 0 1rem 0;
    }
    .loader_vis{
        top:calc((100% - 14rem)/2)
    }
}
th{
    cursor:pointer;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    transition: all 0.2s linear 0s;
    position: relative;
}

th::before{
    content: "\f0dc";
    font-family: FontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: calc(100% + 1px); /*1px added to remove glitching bottom line*/
    width: 30px;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
    z-index: 5;
    background-color:white;
    color:var(--primary-color);
}
th:hover:before{
    transform: scale(1,1);
    text-indent: 0;
}
tr:nth-child(2n+3) {
    background: var(--grey)}
td {
    padding:1rem 1rem 1rem 0;
    }
td:first-child{
    font-weight: 500;
}