<!DOCTYPE html>
<html>

<body>

    <h1>Jobs.cz Scraper</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="my_input"><input type="text" name="my_input" placeholder="Job Title" required></label>
        <label for="city_check">Plzeň<input type="radio" name="city_check" value="plzen" checked='checked'></label>
        <label for="city_check">Praha<input type="radio" name="city_check" value="praha"></label>
        <label for="city_check">Brno<input type="radio" name="city_check" value="brno"></label>
        <button type="submit">Scrape Jobs.cz</button>
    </form>

</body>

</html>