<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jobs.cz Scraper Login</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="wrapper_main">
            <div class="wrapper">
                <div class="desc_wrapper">
                    <h1>Welcome to Jobs Aggregator</h1>
                    <p>This is educational project created by<br>
                        <strong>Jiri Karlik</strong>.</p>
                        <div class="social">
                            <a href="https://github.com/karlji" target="_blank" class="fa fa-github" title="github"></a>
                            <a href="https://www.linkedin.com/in/jiri-karlik/" target="_blank" class="fa fa-linkedin" title="linkedin"></a>
                            <a href="mailto:karlikjirka@gmail.com" target="_blank" class="fa fa-envelope" title="email" ></a>
                        </div>
                </div>
                <div class="login-wrapper">
                    <form method="post">
                        {% csrf_token %}
                        {{ judge_form }}
                        <input type="submit" value="Sign In">
                    </form>
                    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">{{ message }}</span>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </body>

</html>