<!DOCTYPE html>
<html lang="en">

<body>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jobs.cz Scraper Login</title>
        <link rel="stylesheet" href="styles.css" />
      </head>
    <h1>Jobs.cz Scraper</h1>
    <form method="post">
        {% csrf_token %}
        {{ judge_form }}
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">{{ message }}</span>
    {% endfor %}
    </ul>
{% endif %}
</body>

</html>